.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-grow: 1;
}

.rcw-conversation-container > .rcw-header {
  background-color: #3f51b5 !important;
}

.rcw-client > .rcw-message-text  {
  background-color: #3f51b5 !important;
  color: white;
}

.rcw-launcher {
  background-color: #3f51b5 !important;
}

header a {
  text-decoration: none;
}