.App {
    text-align: center;
    background-color: #404040;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    flex-grow: 1;
}

.rcw-conversation-container > .rcw-header {
    background-color:#76d2ff !important;
}

.rcw-client > .rcw-message-text {
    background-color: #76d2ff !important;
    color: white;
}

.rcw-launcher {
    background-color: #76d2ff !important;
}

@media screen and (max-width: 800px) {
    .rcw-widget-container {
        height: fit-content !important; 
    }
    .rcw-conversation-container .rcw-title {
        padding: 15px 0 15px !important;
    }

    .rcw-conversation-container {
        height: 0% !important;
    }

    .rcw-conversation-container.active {
        height: 100vh !important;
    }
}

header a {
    text-decoration: none;
}

header button > span {
  color: white;
}
